{% extends "layout_base.html" %}
{% load static from staticfiles %}

{% block title %}Projects{% endblock title %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
    <li class="active">Project List</li>
</ul>
{% endblock breadcrumbs %}

{% block body %}

    <div class="row">
      <div class="span8">
        
        <ul class="nav nav-pills">
        <li {% if filter == "mine" %}class="active"{% endif %} ><a href="?filter=mine">My Projects</a></li>
        <li {% if filter == "watch" %}class="active"{% endif %} ><a href="?filter=watch">Watched</a></li>
        <li {% if filter == "all" %}class="active"{% endif %} ><a href="?filter=all">All Projects</a></li>
        </ul>
        <table class="table table-striped table-condensed">
            <tr>
                <th>Project Name</th>
                <th>Last Active</th>
            </tr>
        
            {% for p in projects %}
            <tr>
                <td><a href="{% url 'project' id=p.id %}">{{ p.name }}</a>
                    {% if user.student == p.owner or user.student in p.team.all %}<i class="icon-edit"></i>{% endif %}
                    {% if user.student in p.watched_by.all %}<i class="icon-star-empty"></i>{% endif %}
                </td>
                <td>{{ p.last_edited|timesince }} ago</td>
            </tr>
            {% endfor %}
        
        </table>
        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#newproject"><i class="icon-plus-sign icon-white"></i> Start a new project</button>
        <a class="btn" href="{% url 'playground' %}">Playground</a>
        <a class="btn" href="{% url 'arcade' %}">Arcade</a>
      </div>
      
      <div class="span4">
        <div class="well">Project spotlight goes here.</div>
      </div>
    </div>

        <form action="{% url 'project_list' %}" method="POST">{% csrf_token %}
<div id="newproject" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newprojectLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h3 id="newprojectLabel">Start a new Project</h3>
</div>
<div class="modal-body">
<input class="input-block-level" type="text" placeholder="Project Name" name="name"></input>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
<button class="btn btn-success" type="submit" name="topic" value="topic">Start New Project</button>
</div>
</div>
        </form>
    
    {% include "pagination.html" %}


{% endblock body %}
