{% extends "layout_base.html" %}
{% load markup %}

{% block title %}Arcade{% endblock title %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
    <li><a href="{% url 'arcade' %}">Games List</a> <span class="divider">/</span></li>
    <li class="active">{{ game.title }}</li>
</ul>
{% endblock breadcrumbs %}

{% block body %}

    <div class="row">
        <div class="span8 offset2">
            <h1>{{ game.title }}</h1>
            <h3>
            
            {% for a in game.authors.all %}
            
                {% if forloop.last and not forloop.first %}and{% endif %}
            
                {% if a.twitter %}
                <a href="http://twitter.com/{{a.twitter}}">{{a.username}}</a>{% if not forloop.last %},{% endif %}
                {% else %}
                {{a.username}}{% if not forloop.last %},{% endif %}
                {% endif %}
                
            {% endfor %}
            </h3>
            
            {{ game.description | minimarkup }}
        <center>
            <div id="emulator"></div>
            
            <a href="{% url 'play' id=game.id %}?download" class="btn">Download</a>
            <a href="{% url 'playground' %}?source={{game.id}}" class="btn">Source</a>
        </center>
            
            <h3>Controls</h3>
            <table class="table table-striped table-condensed">
                <tr>
                    <th>Button</th>
                    <th>Player 1</th>
                    <th>Player 2</th>
                </tr>
                <tr>
                    <td>Left</td>
                    <td>Left Arrow</td>
                    <td>Num-4</td>
                </tr>
                <tr>
                    <td>Right</td>
                    <td>Right Arrow</td>
                    <td>Num-6</td>
                </tr>
                <tr>
                    <td>Up</td>
                    <td>Up Arrow</td>
                    <td>Num-8</td>
                </tr>
                <tr>
                    <td>Down</td>
                    <td>Down Arrow</td>
                    <td>Num-2</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>X</td>
                    <td>Num-7</td>
                </tr>
                <tr>
                    <td>B</td>
                    <td>Z</td>
                    <td>Num-9</td>
                </tr>
                <tr>
                    <td>Start</td>
                    <td>Enter</td>
                    <td>Num-1</td>
                </tr>
                <tr>
                    <td>Select</td>
                    <td>Ctrl</td>
                    <td>Num-3</td>
                </tr>
            </table>
            
        </div>
    </div>

{% endblock body %}


{% block scripts %}
    {% include "nes.html" %}
{% endblock scripts %}
