{% extends "layout_base.html" %}
{% load markup %}

{% block title %}Playground{% endblock title %}

{% block body %}

    <div class="row">
        <form name="input" action="{% url 'playground' %}" method="post">{% csrf_token %}
        <div class="span8">
            <div>
                <div>
                    <h1>Welcome to the playground!</h1>
                    
                    <p>
                    The purpose of the playground is to give you a space where
                    you can try out the things you learn. If you actually want
                    to create games with other people, why not
                    {% if not user.is_authenticated %}
                        <a href="{% url 'sign-up' %}">sign up for an account</a> and
                    {% endif %} start a project?
                    </p>
                </div>

<textarea class="input-block-level code-input" rows="20" name="code" wrap="soft">{{ code }}</textarea>
            </div>
            
            
            <div class="well">
              {% include "asm_cheatsheet.html" %}
            </div>
        </div>
        
        <div class="span4">
    
        
            <div id="emulator"></div>
    
            <div>
            <input type="submit" name="run" value="Assemble" />
            <input type="submit" name="download" value="Download" />
            </div>
        
        </div>
        </form>
    </div>

{% endblock body %}


{% block scripts %}
    {% include "nes.html" %}
{% endblock scripts %}
