{% extends "layout_base.html" %}
{% load markup %}
{% load static from staticfiles %}

{% block title %}Playground{% endblock title %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
    <li class="active">Playground</li>
</ul>
{% endblock breadcrumbs %}

{% block body %}

    <div class="row">
        <form name="input" action="{% url 'playground' %}" method="post">{% csrf_token %}
        <div class="span8">
            <div>
                <div>
                    <h1>Welcome to the playground!</h1>
                    
                    <p>
                    The purpose of the playground is to give you a space where
                    you can try out the things you learn. If you actually want
                    to create games with other people, why not
                    {% if not user.is_authenticated %}
                        <a href="{% url 'sign-up' %}">sign up for an account</a> and
                    {% endif %} start a project?
                    </p>
                </div>

<div id="assembly-editor" style="width: 100%; height: 30em;"></div>
<textarea id="assembly-text" class="input-block-level code-input" rows="20" name="code" wrap="soft">{{ code }}</textarea>
            </div>
            
            <p>
            <select name="pattern">
            {% if pattern %}
                <option value="{{pattern.name}}">Current sprite sheet: {{pattern.name}}</option>
            {% endif %}
            {% for p in patterns %}
                <option value="{{p.name}}">Sprite sheet: {{p.name}}</option>
            {% endfor %}
            </select>
            </p>
            
            <div class="well">
              {% include "asm_cheatsheet.html" %}
            </div>
        </div>
        
        <div class="span4">
    
        
            <div id="emulator"></div>
    
            <div>
            <button class="btn" type="submit" name="run" value="Assemble">Assemble</button>
            <button class="btn" type="submit" name="download" value="Download">Download</button>
            </div>
        
        </div>
        </form>
    </div>

{% endblock body %}


{% block scripts %}
    {% include "nes.html" %}
    {% include "ace.html" %}
{% endblock scripts %}

