{% extends "layout_base.html" %}
{% load static from staticfiles %}

{% block title %}Sprite Sheets{% endblock title %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
    <li class="active">Sprite Sheets</li>
</ul>
{% endblock breadcrumbs %}

{% block body %}

    <div class="row">
        <div class="span10 offset1">
        <h1>Available Sprite Sheets</h1>
        These are the sprite sheets available to 

            <div class="well">
              <ul class="thumbnails">
                {% for p in patterns %}
                <li class="span3">
                  <a href="#" class="thumbnail">
                    <img class="img-polaroid" src="{% static 'spritesheets/' %}{{p.name}}.png" alt="" />
                  </a>
                  <h3>{{ p.name }}</h3>
                </li>
                {% endfor %}
              </ul>
            </div>
            
        </div>
    </div>


{% endblock body %}
