{% extends "layout_base.html" %}
{% load static from staticfiles %}

{% block title %}Sprite Sheets{% endblock title %}
{% block body %}

    <div class="row">
        <div class="span10 offset1">
        <h1>Available Sprite Sheets</h1>
        These are the sprite sheets available to programmers making games
        in #8bitmooc. If you are an artist and would like to submit some
        of your own sprites that you think would be helpful for everyone in
        the class, reach out to <em>admin@8bitmooc.org</em>, and we'll take
        help you get them included in the course.

            <div class="well">
              <ul class="thumbnails">
                {% for p in patterns %}
                <li class="span3">
                  <a href="#" class="thumbnail">
                    <img src="{% static 'spritesheets/' %}{{p.name}}.png" alt="" />
                  </a>
                  <h3>{{ p.name }}</h3>
                </li>
                {% endfor %}
              </ul>
            </div>
            
        </div>
    </div>


{% endblock body %}

