{% extends "layout_base.html" %}
{% load textbook %}

{% block title %}Lesson {{ world.shortname }}-{{ stage.shortname }}{% endblock title %}

{% block body %}

    <div class="row">
        <div class="span8">
            <article class="article">

                {{ stage.lesson.content|creole }}

            </article>
        </div>
        <div class="span4">
            <div class="hero-unit">
                <p>Social goes here</p>
            </div>
        </div>
    </div>

{% endblock body %}

