{% extends "layout_base.html" %}
{% load avatar_tags %}

{% block title %}{{ student.username }}'s Progress{% endblock title %}

{% block body %}

    <div class="row">
        <div class="span2">
            <img src="{% avatar_url student.user 256 %}&d=retro" alt="" />
            <a href="http://github.com/{{ student.username }}" class="btn btn-block btn-success">Github Profile</a>
        </div>
        
        <div class="span10">
            <div>
                <h2>{{ student.username }} {% if student.ta %}(admin){% endif %}</h2>
                Member for {{ student.joined | timesince }}.
            <div>
            <div>
                <h3>Progress in #8bitmooc</h3>
            </div>
            
            <div>
                <h3>Published in the Sandbox</h3>
                <div class="well">
                    {% for g in published %}
                    <div>
                    <a href="{% url 'play' g.published %}"><em>{{ g.name }}</em></a> 
                    {{ g.timestamp|timesince }} ago
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock body %}
