{% extends "layout_base.html" %}
{% load bootstrap_toolkit %}

{% block title %}Join the MOOC!{% endblock title %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
    <li class="active">Sign-Up</li>
</ul>
{% endblock breadcrumbs %}


{% block body %}

    <div class="row">
        <div class="span4">
            <form action="{% url 'sign-up' %}" method="POST">
                {% csrf_token %}

                {{ form.username|as_bootstrap }}

                {{ form.email|as_bootstrap }}

                {{ form.password1|as_bootstrap }}

                {{ form.password2|as_bootstrap }}

                <button type="submit" class="btn">
                    Join #8bitmooc!
                </button>
            </form>
        </div>
        
        <div class="span8">
            <div class="well">
            Terms and condition
            </div>
        </div>
    </div>

{% endblock body %}
