{% extends "layout_base.html" %}
{% load static %}
{% load gravatar %}

{% block title %}{{ student.username }}'s Profile{% endblock title %}

{% block body %}

    <div class="row">
        <div class="span3">
            <div>
                <p><img class="gravatar" alt="{{ student.username }}'s avatar" src="{% gravatar_for_email student.email 128 %}"></p>
            </div>
            
            <div>
            <p>
            {% if user == student.user %}
            <a href="http://gravatar.com" class="btn btn-primary">Change Avatar</a>
            {% elif user.is_authenticated %}
        <form name="input" action="{% url 'profile' username=student.username %}" method="post">{% csrf_token %}
                {% if student not in user.student.friends.all %}
                <button class="btn btn-success" type="submit" name="friend" value="friend">Add Friend</button>
                {% else %}
                <button class="btn btn-success" type="submit" name="unfriend" value="unfriend">Remove Friend</button>
                {% endif %}
                
                {% if student not in user.student.blocked.all %}
                <button class="btn btn-danger" type="submit" name="block" value="block">Block</button>
                {% else %}
                <button class="btn btn-danger" type="submit" name="unblock" value="unblock">Unblock</button>
                {% endif %}
        </form>
            {% endif %}
            </p>
            </div>
            
            {% if student.website %}
            <div>
            <p><i class="icon-globe"></i> <a href="{{ student.website }}">{{ student.website }}</a></p>
            </div>
            {% endif %}
            
            {% if student.display_email %}
            <div>
            <p><i class="icon-envelope"></i> {{ student.email }}</p>
            </div>
            {% endif %}
            
            {% if student.twitter %}
            <div>
            <p><i class="icon-comment"></i> <a href="http://twitter.com/{{ student.twitter }}">@{{ student.twitter }}</a></p>
            </div>
            {% endif %}
            
        </div>
        
        <div class="span9">
            <h2>{{ student.username }} ({{ student.score }} points)</h2>
            
            <div>
            {{ student.bio }}
            </div>
            
            <h3>Completed Stages</h3>
            <div>
              <ul class="thumbnails">
                {% for s in student.stage_set.all %}
                  <li class="span2">
                  <div class="thumbnail">
                  <a href="#" class="thumbnail">
                  <img src="{% get_static_prefix %}img/{{s.graphic}}.png" alt="World {{ s.world.shortname }}-{{ s.shortname }}" title="World {{ s.world.shortname }}-{{ s.shortname }}" />
                  </a>
                  </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
            
            <h3>Achievements</h3>
            <div>
              <ul class="thumbnails">
                {% for a in student.achievement_set.all %}
                  <li class="span2">
                  <div class="thumbnail">
                  <a href="#" class="thumbnail">
                  <img src="{% get_static_prefix %}img/{{a.graphic}}.png" alt="{{a.name}}" title="{{a.name}}" />
                  </a>
                  </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
            
            <h3>Game Library</h3>
            <div>
            <ul>
            {% for g in games %}
                <li><a href="{% url 'library' username=student.username gamename=g.name %}">{{ g.name }}</a></li>
            {% endfor %}
            </ul>
            </div>
        </div>
    </div>

{% endblock body %}

