{% extends "layout_base.html" %}
{% load static %}
{% load gravatar %}

{% block title %}{{ student.user.username }}'s Profile{% endblock title %}

{% block body %}

    <div class="row">
        <div class="span2">
            <img class="gravatar" alt="{{ student.user.username }}'s avatar" src="{% gravatar_for_email student.user.email 128 %}">
        <strong>{{ profile.name }}</strong>
    </h1>
        </div>
        
        <div class="span10">
            I AM A STUDENT IN #8BITMOOC!
        </div>
    </div>

{% endblock body %}
