{% extends "layout_base.html" %}
{% load avatar_tags %}

{% block title %}Students{% endblock title %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
    <li class="active">User List</li>
</ul>
{% endblock breadcrumbs %}

{% block body %}

    <div class="row">
      <div class="span12">
        <ul class="nav nav-pills">
        <li {% if filter == "all" %}class="active"{% endif %} ><a href="?filter=all">All Students</a></li>
        <li {% if filter == "collab" %}class="active"{% endif %} ><a href="?filter=collab">Collaborators</a></li>
        <li {% if filter == "teachers" %}class="active"{% endif %} ><a href="?filter=teachers">Teachers</a></li>
        <li {% if filter == "blocked" %}class="active"{% endif %} ><a href="?filter=blocked">Blocked</a></li>
        </ul>
      </div>

        {% for user_list in user_columns %}
        <div class="span4">
            {% for s in user_list %}
            <div class="media well {% if s.ta %}well-gold{% endif %} ">
                <a class="pull-left" href="{% url 'profile' username=s.username %}">
                    <img class="img-polaroid" src="{% avatar_url s.user 64 %}&d=retro" alt="" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{s.username}}</h4>
                    Level {{ s.level }}
                    <div class="progress progress-striped">
                        <div class="bar bar-success" style="width: {{ s.xp_progress }}%;"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        
    </div>
    {% include "pagination.html" %}

{% endblock body %}
