{% extends "layout_base.html" %}
{% load avatar_tags %}
{% load bootstrap_toolkit %}
{% load markup %}
{% load static from staticfiles %}

{% block title %}{{ student.username }}'s Profile{% endblock title %}

{% block body %}

    <div class="row">

        <div class="span2">
            <h3>Level {{ student.level }}</h3>
                    <img src="{% avatar_url student.user 256 %}&d=retro" alt="" />
            {% if user == student.user %}
                <a class="btn btn-block" href="http://gravatar.com">Change Avatar</a>
            {% endif %}
            <small><em>Level up in {{ student.next_level }} XP</em></small>
            <div class="progress progress-striped">
                <div class="bar bar-success" style="width: {{ student.xp_progress }}%;"></div>
            </div>
            
            <div><strong>Collaborators</strong></div>
            <div>
                {% for c in collaborators %}
                <a href="{% url 'profile' username=c.username %}"><img src="{% avatar_url c.user 32 %}&d=retro" alt="" /></a>
                {% endfor %}
            </div>
        </div>
        <div class="span10">
            <h1>{{ student.username }}</h1>
            <article>
                {{ student.bio|minimarkup }}
            </article>
            {% if student.public_email %}
            <div><i class="icon-envelope"></i> <em>{{ student.email }}</em></div>
            {% endif %}
            {% if student.twitter %}
            <div><i class="icon-comment"></i> <em><a href="http://twitter.com/{{student.twitter}}">@{{ student.twitter }}</a></em></div>
            {% endif %}
            
            
            {% if user == student.user %}
            <p><button type="button" class="btn" data-toggle="modal" data-target="#edit">Edit Profile</button></p>
            <form name="input" action="{% url 'profile' username=student.username %}" method="post">{% csrf_token %}
            <div id="edit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editlabel" aria-hidden="true">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="editlabel">Edit Profile</h3>
            </div>
            <div class="modal-body">
            <p>Edit your profile here. You can leave any or all of the fields blank if you wish.</p>
                            {{ form.bio|as_bootstrap }}

                            {{ form.twitter|as_bootstrap }}

                            {{ form.email|as_bootstrap }}
            </div>
            <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-primary" type="submit" name="editprofile" value="editprofile">Save Changes</button>
            </div>
            </div>
            </form>
            {% endif %}
            
            
            <h3>Completed Challenges</h3>
            <div class="well">
                {% for c in student.challenge_set.all %}
                <a href="{% url 'challenge' name=c.slug %}">
                <img class="img-polaroid" src="{% static 'img/challenge/' %}{{c.graphic}}.png" alt="{{ c.name }}" title="{{ c.name }}" />
                </a>
                {% endfor %}
            </div>
            
            <h3>Projects</h3>
            <div class="well">

                <table class="table table-condensed">
                <tr>
                    <th>Project</th>
                    <th>Role</th>
                </tr>
                {% for p in projects %}
                <tr>
                    <td><a href="{% url 'project' name=p.slug %}">{{p.name}}</a></td>
                    <td>
                    {% if p.owner == student %}Owner{% else %}Coder{% endif %}
                    </td>
                </tr>
                {% endfor %}
                </table>
                    
            </div>
        </div>
        
    </div>


{% endblock body %}
