{% extends "layout_base.html" %}
{% load avatar_tags %}
{% load markup %}

{% block title %}Dashboard{% endblock title %}

{% block body %}

    <div class="row">
        <div class="span6">
            {% for a in announcements %}
            <div class="well">
                <img class="img-polaroid pull-right" src="{% avatar_url a.author.user 128 %}&d=retro" alt="" />
                <h3>{{ a.topic.title }}</h3>
                <h5>By <a href="{% url 'profile' a.author.username %}">@{{ a.author.username }}</a> {{ a.timestamp|timesince }} ago</h5>
                <article>
                    {{ a.content|minimarkup }}
                </article>
            </div>
            {% endfor %}
        </div>
        
        <div class="span6">
            <div class="well">
                {% include "challenge_selection.html" %}
            </div>
            
            <div>
            <a href="{% url 'playground' %}" class="btn btn-large btn-block"><i class="icon-pencil"></i> Playground</a>
            <a href="{% url 'forums' %}" class="btn btn-large btn-block"><i class="icon-comment"></i> Community</a>
            <a href="{% url 'help_index' %}" class="btn btn-large btn-block"><i class="icon-book"></i> Help Center</a>
            </div>
        </div>
        
    </div>


{% endblock body %}
