{% extends "layout_base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block body %}

    <div class="row">
        <div class="span6">
            <div class="well">
                News 1
            </div>
            
            <div class="well">
                News 2
            </div>
            
            <div class="well">
                News 3
            </div>
        </div>
        
        <div class="span6">
            <div class="well">
                This is where the challenges go.
            </div>
            
            <div>
            <a href="{% url 'playground' %}" class="btn btn-large btn-block"><i class="icon-pencil"></i> Playground</a>
            <a href="#" class="btn btn-large btn-block"><i class="icon-comment"></i> Community</a>
            <a href="{% url 'help_index' %}" class="btn btn-large btn-block"><i class="icon-book"></i> Help Center</a>
            </div>
        </div>
        
    </div>


{% endblock body %}
