<div class="span11">
<small>
    #8bitmooc is an <a href="http://github.com/isharacomix/8bitmooc">Open Source</a>
    project by <a href="http://isharacomix.org">Barry Peddycord III</a>, and makes
    use of code from other open source projects including
    <a href="https://github.com/bfirsh/jsnes">JSNES</a>,
    <a href="https://github.com/django/django">Django</a>,
    <a href="https://github.com/twitter/boostrap">Bootstrap</a>,
    and <a href="https://github.com/jquery/jquery">JQuery</a>. Thanks also go out
    to the <a href="http://nesdev.com">NESDEV</a> community for teaching me
    everything I know.
    #8bitmooc is not affiliated with North Carolina State
    University - please see our <a href="{% url 'privacy' %}">Privacy Policy</a>
    and <a href="{% url 'terms' %}">Terms of Use</a> for more information.
</small>
</div>
<div class="span1">
    <a rel="license" href="https://www.gnu.org/licenses/gpl.html" class="license-logo">
        <img alt="GNU General Public License version 3"
             src="https://www.gnu.org/graphics/gplv3-88x31.png" />
    </a>
</div>


