{% extends "layout_base.html" %}

{% block title %}Welcome{% endblock title %}

{% block body %}

    <div class="row">
        <div class="span12">
            <div class="hero-unit">
                <h1>#8bitmooc</h1>

                <p><em>Let's program like it's 1985!</em></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span8">
            <div class="well" style="overflow-y: scroll; height:400px;">
                <h1>News and Updates</h1>
                {% for f in feed %}
                    <hr />
                    <div>
                        <h3>{{ f.title }}</h3>
                        <h5>{{ f.published }}</h5>
                        <article>
                            {{ f.description|safe }}
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="span4">
            <ul>
            {% if not user.is_authenticated %}
                <a href="{% url 'help' page='about' %}" class="btn btn-huge btn-block"><i class="icon-info-sign"></i> Learn More</a></li>
                <a href="{% url 'playground' %}" class="btn btn-huge btn-block"><i class="icon-edit"></i> Try it Out!</a></li>
                <a href="{% url 'help' page='index' %}" class="btn btn-huge btn-block"><i class="icon-book"></i> Help Center</a></li>
                <a href="{% url 'sign-up' %}" class="btn btn-huge btn-block"><i class="icon-plus"></i> Sign Up!</a></li>
            {% else %}
                <a href="{% url 'project_list' %}" class="btn btn-huge btn-block"><i class="icon-wrench"></i> Projects</a></li>
                <a href="{% url 'challenge_list' %}" class="btn btn-huge btn-block"><i class="icon-star"></i> Challenges</a></li>
                <a href="{% url 'help' page='index' %}" class="btn btn-huge btn-block"><i class="icon-book"></i> Help Center</a></li>
                <a href="{% url 'forum' %}" class="btn btn-huge btn-block"><i class="icon-user"></i> Community</a></li>
            {% endif %}
        </div>
    </div>


{% endblock body %}
