<!doctype html>
{% load static from staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>#8bitmooc: {% block title %}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block styles %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
        <link rel="stylesheet" href="{% static 'css/moocstrap.css' %}">
        {% endblock styles %}
    </head>

    <body class="with-navbar">
        {% include "navbar.html" %}

        <div class="container container-main">
            {% if alerts %}
            <div class="row">
                <div class="span8 offset2">
                {% for tag, content in alerts %}
                <div class="alert alert-block {{ tag }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ content }}
                </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}

            {% block body %}
            {% endblock body %}

            <hr>

            <footer class="row">
                {% include "footer.html" %}
            </footer>
        </div>

        <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
