{% load static from staticfiles %}

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{% url index %}">
                #8bitmooc
            </a>
            <ul class="nav">
                <li><a href="{% url textbook %}">Textbook</a></li>
                <li><a href="{% url badge_list %}">Badges</a></li>
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown">
                    {% if user.is_authenticated %}
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        HALLO <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                         <li><a href="http://example.com">Test</a></li>
                         <li><a href="http://example.com">Test</a></li>
                    </ul>
                    {% else %}
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        (not logged in) <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="http://example.com">Login</a></li>
                        <li><a href="http://example.com">Register</a></li>
                    </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
