{% load static from staticfiles %}

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{% url 'index' %}">
                #8bitmooc
            </a>
            <ul class="nav">
                <li><a href="{% url 'playground' %}">Playground</a></li>
                <li><a href="{% url 'forums' %}">Community</a></li>
                <li><a href="{% url 'help_index' %}">Help Center</a></li>
                <li>
                    <form class="navbar-search" action="#" method="get">
                        <div class="input-prepend">
                        <span class="add-on"><i class="icon-search"></i></span>
                        <input type="text" class="" placeholder="Search" name="query" />
                        </div>
                    </form>
                </li>
            </ul>
            
            <ul class="nav pull-right">
                <li class="dropdown">
                    {% if user.is_authenticated %}
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Hello, {{ user.username }}! <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                         <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                    {% else %}
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        (not signed in) <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                         <li><a href="{% url 'login' %}">Login with Github</a></li>
                    </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
