{% extends "layout_base.html" %}
{% load gravatar %}

{% block title %}Privacy Policy{% endblock title %}

{% block body %}

    <div class="row">
        <div class="span12">
<h1>What we collect, and why we collect it</h1>
        
<p>Here at #8bitmooc, we take your privacy seriously. So here is a legalese-free
explanation of what we collect and why we collect it.</p>

<p>#8bitmooc is a website designed to teach you about technology. It's also kind of
an experiment that we use to learn about how people learn programming. So we are
both learning from one another.</p>

<p>All we collect is how you use our site: what pages you visit, how
often you visit them, what times you visit them, and the code you submit
for testing and grading. We also store the chat room logs (which are public
anyway). We look at IP addresses to aggregate  We do all of this in order to learn about how effective
our resources are at teaching you, and to improve this educational experience
for everyone.</p>

<p>We <strong>don't</strong> ask for any personal information - not even your real name.
We <strong>don't</strong> use tracking cookies, and we <strong>don't</strong>
do any advertising - targeted or otherwise. This is a not-for-profit endeavour,
interested solely in improving technology education.</a>

<p>If you would like to know more about what we do, why we do it, or would like
to see the information we've collected about you, please contact <em>admin@8bitmooc.org</em>,
and we'll be happy to share it. This is an <strong>open</strong> online course,
and as such, transparency is our goal.</p>


        </div>
    </div>

{% endblock body %}
