{% extends "layout_base.html" %}
{% load gravatar %}

{% block title %}Terms of Use{% endblock title %}

{% block body %}

    <div class="row">
        <div class="span12">
<h1>Some Ground Rules</h1>

<p>When you visit #8bitmooc, you are a guest in our home. We don't want your
money, we just want to make sure that everyone behaves in a manner conducive
to learning.</p>

<p>Rule one: Don't harass any of your classmates. This ranges from everything
including sending them undesired messages, creating unnecessary requests for
help, creating programs that are obscene or hateful, and so forth. Anyone doing
so will be disciplined at the discretion of the site administrators, up to and
including being banned from the website.</p>

<p><strong>You own the rights to all of the code you submit to #8bitmooc, but
understand that you also give us a non-exclusive right to use your code for
non-commercial and research purposes.</strong> You are free to sell your code
if you like, and we won't try to stop you. But we need to be able to analyze your
code in order to conduct our research and improve #8bitmooc for everyone else.
This is the price for taking our "free" course, and we feel it is a fair price.</p>

<p>Don't try to break the website. If you're interested in doing security testing,
don't do us any favors - let us know first.</p>

<p>#8bitmooc is a safe space, committed to including everyone regardless of
nationality, language, race, gender identity, age, or any other category. We want
everyone to feel welcome, and if someone is making learning unpleasant for you,
please let us know at <em>admin@8bitmooc.org</em>.</p>
        </div>
    </div>

{% endblock body %}
