{% extends "layout_base.html" %}
{% load static from staticfiles %}

{% block title %}Challenges{% endblock title %}

{% block body %}

    <div class="row">

        
        {% for challenge_list in challenges %}
        <div class="span6">
            {% for c, complete, size, size_complete, speed, speed_complete, sos in challenge_list %}
            <div class="media well">
                <a class="pull-left" href="{% url 'challenge' name=c.slug %}">
                <img class="media-object" src="{% static 'img/challenge/' %}{{c.graphic}}.png">
                </a>
                <div class="media-body">
{% if complete and c.autograde %}
<a href="/" class="btn btn-small {% if sos == 0 %}disabled{% else %}btn-danger{% endif %} pull-right media-heading">
    SOS <i class="icon-user"></i>{{sos}}
</a>
{% endif %}
                    <h4 class="media-heading">{{c.name}}</h4>
                    <table class="table table-condensed">
                    <tr>
                        <td><em>Complete</em></td>
                        <td></td>
                        <td>{% if complete %}<i class="icon-ok"></i>
                            {% else %}<i class="icon-minus"></i>{% endif %}</td>
                    </tr>
                    {% if c.autograde %}
                    <tr>
                        <td><em>Size</em></td>
                        <td>{{ size }}</td>
                        <td>{% if size_complete %}<i class="icon-ok"></i>
                            {% else %}<i class="icon-minus"></i>{% endif %}</td>
                    </tr>
                    <tr>
                        <td><em>Speed</em></td>
                        <td>{{ speed }}</td>
                        <td>{% if speed_complete %}<i class="icon-ok"></i>
                            {% else %}<i class="icon-minus"></i>{% endif %}</td></td>
                    </tr>
                    {% endif %}
                    </table>
                    
                    {% if c.is_jam %}
                    <small>
                    When you submit a link for a game jam, you'll need to wait for
                    the instructor to check it out before this challenge is marked
                    complete.
                    </small>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        
    </div>


{% endblock body %}
