{% extends "layout_base.html" %}
{% load markup %}

{% block title %}Challenge: {{ challenge.name }}{% endblock title %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
    <li><a href="{% url 'challenge_list' %}">Challenge List</a> <span class="divider">/</span></li>
    <li class="active">Challenge</li>
</ul>
{% endblock breadcrumbs %}

{% block body %}

    <div class="row">
        <div class="span8">

            {{ challenge.description|markup }}

            <div class="well">
            {% if submit_ok %}
                Enter the link to your submission on the Jam website here. You will
                need to wait until the instructor is able to visit your submission
                and evaluate it before the challenge will be marked as complete.
                
                <p>
                <form class="form-inline" action="{% url 'challenge' name=challenge.slug %}" method="POST">{% csrf_token %}
                    <input type="text" name="url" class="input" placeholder="http://example.com/game-url-here/"  />
                    <button type="submit" class="btn btn-success" name="jam" value="jam">Submit</button>
                </form>
                </p>
            {% else %}
                <p>This challenge has ended - no more submissions are permitted.</p>
                {% if url %}
                    <p>You submitted: <em>{{ url }}</em></p>
                {% endif %}
                {% if completed and challenge.is_badge %}
                    <p><a class="btn btn-success" href="#" onclick="getBadge()">Add to Badge Backpack</a></p>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>

{% endblock body %}

{% block scripts %}
    {% include "badges.html" %}
{% endblock scripts %}
