{% extends "layout_base.html" %}
{% load markup %}

{% block title %}Challenge: {{ challenge.name }}{% endblock title %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
    <li><a href="{% url 'challenge_list' %}">Challenge List</a> <span class="divider">/</span></li>
    <li class="active">Challenge</li>
</ul>
{% endblock breadcrumbs %}

{% block body %}

    <div class="row">
        <form name="input" action="{% url 'challenge' name=challenge.slug %}" method="post">{% csrf_token %}
        <div class="span8">
        
            <div>
                <div>
                    {{ challenge.description|markup }}
                </div>

<div id="assembly-editor" style="width: 100%; height: 30em;"></div>
<textarea id="assembly-text" class="input-block-level code-input" rows="20" name="code" wrap="soft">{{ code }}</textarea>
            </div>
            
            
            <div class="well">
              {% include "asm_cheatsheet.html" %}
            </div>
        </div>
        
        
        <div class="span4">
    <p><a class="btn {% if not feedback %}disabled{% endif %}" href="{% url 'feedback' name=challenge.slug %}">View Feedback</a></p>
        
            <div id="emulator"></div>
    
            <div>
            <button class="btn" type="submit" name="run" value="Assemble">Assemble</button>
            <button class="btn" type="submit" name="download" value="Download">Download</button>
            <button class="btn" type="button" data-toggle="modal" data-target="#SOS">SOS</button>
            </div>
        
            {% if completed %}
            <br />
            <div class="well">
                <p>Now that you've completed this challenge, you can try to
                optimize your code. Try to make your program smaller and faster
                than the records below!</p>
            
                <table class="table table-condensed">
                <tr>
                    <th></th>
                    <th>Your Best</th>
                    <th>Current Record</th>
                </tr>
                <tr>
                    <td><em>Size</em></td>
                    <td>{% if my_size == best_size %}<strong>{{ my_size }}</strong>
                        {% else %}{{ my_size }}{% endif %}</td>
                    <td>{% if my_size == best_size %}<strong>{{ best_size }}</strong>
                        {% else %}{{ best_size }}{% endif %}</td>
                </tr>
                <tr>
                    <td><em>Speed</em></td>
                    <td>{% if my_speed == best_speed %}<strong>{{ my_speed }}</strong>
                        {% else %}{{ my_speed }}{% endif %}</td>
                    <td>{% if my_speed == best_speed %}<strong>{{ best_speed }}</strong>
                        {% else %}{{ best_speed }}{% endif %}</td>
                </tr>
                </table>
                
                {% if challenge.is_badge %}
                <p><a class="btn btn-success" href="#" onclick="getBadge()">Add to Badge Backpack</a></p>
                {% endif %}
            </div>
            {% endif %}
        
        </div>
        
<div id="SOS" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="SOSLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h3 id="SOSLabel">Send an S.O.S.</h3>
</div>
<div class="modal-body">
<p>If you are having trouble with this assignment, you can submit an SOS for
your classmates to see if they can help you. If you would like to submit an
SOS, please ask a question below. In your question, please be as specific
as possible about what you are trying to do, and what you are having trouble
with. You can see your classmate's responses on the SOS tab of this challenge.</p>
<textarea class="input-block-level" rows="10" name="help"></textarea>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
<button class="btn btn-danger" type="submit" name="sos" value="sos">Send my S.O.S.!</button>
</div>
</div>

        </form>
    </div>

{% endblock body %}


{% block scripts %}
    {% include "nes.html" %}
    {% include "badges.html" %}
    {% include "ace.html" %}
{% endblock scripts %}
