{% extends "layout_base.html" %}
{% load markup %}

{% block title %}Challenge: {{ challenge.name }}{% endblock title %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
    <li><a href="{% url 'challenge_list' %}">Challenge List</a> <span class="divider">/</span></li>
    <li class="active">Challenge</li>
</ul>
{% endblock breadcrumbs %}

{% block body %}

    <div class="row">
        <div class="span8">
        
            {{ challenge.description|markup }}

            <div class="well">
            {% if completed %}
                <p>You have successfully completed this challenge.</p>
                {% if challenge.is_badge %}
                <p><a class="btn btn-success" href="#" onclick="getBadge()">Add to Badge Backpack</a></p>
                {% endif %}
            {% elif challenge.expired %}
                <p>The time to accomplish this challenge has expired.</p>
            {% else %}
                <p>When you complete the requirements for this challenge,
                it will be automatically marked as completed.</p>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock body %}

{% block scripts %}
    {% include "badges.html" %}
{% endblock scripts %}
