{% extends "layout_base.html" %}
{% load markup %}

{% block title %}Feedback for {{ challenge.name }}{% endblock title %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
    <li><a href="{% url 'challenge_list' %}">Challenge List</a> <span class="divider">/</span></li>
    <li><a href="{% url 'challenge' name=challenge.slug %}">Challenge</a> <span class="divider">/</span></li>
    <li class="active">Feedback</li>
</ul>
{% endblock breadcrumbs %}

{% block body %}

    <div class="row">
      <div class="span8">

        <div class="accordion" id="feedbacks">
        {% for sos in feedback %}
        <div class="accordion-group">
            <div class="accordion-heading">
                <div class="accordion-inner">
                {{ sos.content|minimarkup}}
                </div>
            
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#selector" href="#collapse{{ sos.id }}">
View Feedback
                </a>
            </div>
            <div id="collapse{{ sos.id }}" class="accordion-body collapse">
                <div class="accordion-inner">
                    {% for r in sos.feedback_set.all %}
                    <div class="well">
                    {{ r.content|minimarkup }}
                    
                    {% if r.helpful == None %}
                    <hr />
                    <p><em>Was this answer helpful?</em>
<a href="{% url 'feedback' name=challenge.slug %}?helpful={{r.id}}" class="btn btn-success btn-mini">Yes</a>
<a href="{% url 'feedback' name=challenge.slug %}?unhelpful={{r.id}}" class="btn btn-danger btn-mini">No</a></p>
                    {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>

{% endblock body %}

{% block scripts %}
    {% include "badges.html" %}
{% endblock scripts %}

