{% extends "layout_base.html" %}
{% load avatar_tags %}
{% load markup %}

{% block title %}Thread: {{ topic.title }}{% endblock title %}

{% block body %}
    <div class="row">
    <form action="{% url 'thread' board.slug topic.id %}" method="POST">{% csrf_token %}
        <div class="span10 offset1">
        
        <ul class="nav nav-pills">
        <li><a href="{% url 'forums' %}">Forums</a></li>
        <li><a href="{% url 'board' board.slug %}">{{ board.name }}</a></span></li>
        <li class="active"><a href="#">{{ topic.title }}</a></li>
        </ul>
        
            <h1>{{ topic.title }}</h1>
            
            {% for p in posts %}


            <div class="media well {% if p.author.ta %}well-gold{% endif %}">
                <a class="{% cycle 'pull-left' 'pull-right' %}" href="{% url 'profile' p.author.username %}">
                    <img class="img-polaroid" src="{% avatar_url p.author.user 128 %}&d=retro" alt="" />
                </a>
                <div class="media-body">
                    <article>
                    {{ p.content|minimarkup }}
                    </article>
                    <p><small><em>Posted by <a href="{% url 'profile' p.author.username %}">@{{ p.author.username }}</a>
                    {% if p.author.ta %} (admin) {% endif %}
                    {{ p.timestamp|timesince }} ago.</em></small></p>
                </div>
            </div>


            {% endfor %}
            
            {% if can_write and not topic.locked %}
            <textarea class="input-block-level" rows="8" name="content"></textarea>
            <button class="btn btn-large btn-success" type="submit" name="thread" value="thread">Post</button>
            {% endif %}
        </div>
    </form>
    </div>
    {% include "pagination.html" %}

{% endblock body %}

