{% extends "layout_base.html" %}
{% load markup %}

{% block title %}Community Forums{% endblock title %}

{% block body %}

    <div class="row">
        <div class="span10 offset1">
            <h1>Community Discussion Boards</h1>
            <p>
                Welcome to the community discussion boards! Join your classmates
                in discussing old games, whether it's about programming them,
                taking them apart, or just playing them. As you gain more levels,
                you'll earn access to more forums that will allow you to interact
                with peers who have advanced through the course, so work hard if
                that's something that motivates you!
            </p>
        </div>
        <div class="span8 offset2">
            <table class="table table-striped">
                {% for board, last, new in boards %}
                <tr>
                    <td>
                      <h4>
                        <a href="{% url 'board' name=board.slug %}">{{board.name}}</a>
                      </h4>
                      
                      {{ board.description|markup }}
                    </td>
                    <td>
                    <h4> </h4>
                    {% if last %}
                    <p>Last topic active: <a href="{% url 'thread' name=board.slug thread=last.id %}">{{ last.title }}</a></p>
                    {% endif %}
                    
                    <p><small><strong><em>{{ new }} discussions since last visit.</em></strong></small></p>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock body %}

