{% extends "layout_base.html" %}
{% load avatar_tags %}
{% load markup %}

{% block title %}Thread: {{ topic.name }}{% endblock title %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
    <li><a href="{% url 'forums' %}">Forums</a> <span class="divider">/</span></li>
    <li><a href="{% url 'board' name=board.slug %}">Discussion Board</a> <span class="divider">/</span></li>
    <li class="active">Discussion Thread</li>
</ul>
{% endblock breadcrumbs %}

{% block body %}

    <div class="row">
    <form action="{% url 'thread' name=board.slug thread=topic.id %}" method="POST">{% csrf_token %}
        <div class="span10 offset1">
            <h1>{{ topic.title }}</h1>
            
            {% for p in posts %}
{% if p.downvotes > 3 %}
<div class="accordion" id="post{{p.id}}">
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#selector" href="#collapse{{ p.id }}">
This post has been hidden by default due to downvotes.
        </a>
    </div>
    <div id="collapse{{ p.id }}" class="accordion-body collapse">
        <div class="accordion-inner">
{% endif %}

            <div class="media well">
                <a class="{% cycle 'pull-left' 'pull-right' %}" href="{% url 'profile' username=p.author.username %}">
                    <img class="img-polaroid" src="{% avatar_url p.author.user 128 %}&d=retro" alt="" />
                </a>
                <div class="media-body">
                    <article>
                    {{ p.content|minimarkup }}
                    </article>
                    <p><small><em>Posted by <a href="{% url 'profile' username=p.author.username %}">{{ p.author.username }}</a>
                    {{ p.timestamp|timesince }} ago.</em></small></p>
                    
                    {% if student.ta or student.modpoints > 0 %}
                    <p>
                    <button class="btn btn-success btn-mini" type="submit" name="upvote" value="{{p.id}}">Upvote</button>
                    <button class="btn btn-danger btn-mini" type="submit" name="downvote" value="{{p.id}}">Downvote</button>
                    </p>
                    {% endif %}
                </div>
            </div>

{% if p.downvotes > 3 %}
        </div>

{% endif %}
            {% endfor %}
            
            {% if student.level >= board.wrestricted or student.ta %}
                <textarea class="input-block-level" rows="8" name="content"></textarea>
                <button class="btn btn-large btn-success" type="submit" name="thread" value="thread">Post</button>
            {% endif %}

        </div>
    </form>
    </div>
    {% include "pagination.html" %}

{% endblock body %}

