{% extends "layout_base.html" %}
{% load avatar_tags %}
{% load markup %}

{% block title %}Community: {{ board.name }}{% endblock title %}

{% block body %}

    <div class="row">
        <div class="span10 offset1">
            <h1>{{ board.name }}</h1>
            <div>
                <ul class="nav nav-pills">
                <li><a href="{% url 'forums' %}">Back to List</a></li>
                <li class="active"><a href="#">Discussion Board</a></li>
                </ul>
            </div>
            
            <table class="table table-striped">
                <tr>
                    <th>Topic</th>
                    <th>Posts</th>
                    <th>Last Post</th>
                </tr>
                {% for topic, count, last, new in topics %}
                <tr>
                    <td>
                      {% if new %}<strong>{% endif %}
                        <a href="{% url 'thread' name=topic.board.slug thread=topic.id %}">{{topic.title}}</a>
                      {% if new %}</strong>{% endif %}
                    </td>
                    <td>
                      {% if new %}<strong>{% endif %}
                        {{ count }}
                      {% if new %}</strong>{% endif %}
                    </td>
                    <td>
                    {% if last %}
                      {% if new %}<strong>{% endif %}
                        <a class="pull-left" href="{% url 'profile' username=last.author.username %}">
                            <img src="{% avatar_url last.author.user 24 %}&d=retro" alt="{{ last.author.username }}" title="{{ last.author.username }}" />
                       </a>
                       <p>{{ last.timestamp|timesince }} ago</p>
                      {% if new %}</strong>{% endif %}
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% include "pagination.html" %}

{% endblock body %}

