<div class="row">
  <div class="span12">
    <center>
      <div class="pagination">
        <ul>
        <li {% if page <= 1 %}class="disabled"{% endif %}><a href="?page={{ page|add:'-1' }}{% if filter %}&filter={{filter}}{% endif %}">Prev</a></li>
        
        
        
        
        <li {% if page == 1 %}class="active"{% endif %}><a href="?page=1{% if filter %}&filter={{filter}}{% endif %}">{% if page <= 3 %}1{% else %}...{% endif %}</a></li>
        
        
        {% if page == 1 or page == 2 %}
            {% if pages > 2 %}<li {% if page == 2 %}class="active"{% endif %}><a href="?page=2{% if filter %}&filter={{filter}}{% endif %}">{{ 2 }}</a></li>{% endif %}
            {% if pages > 3 %}<li><a href="?page=3{% if filter %}&filter={{filter}}{% endif %}">{{ 3 }}</a></li>{% endif %}
            {% if pages > 4 %}<li><a href="?page=4{% if filter %}&filter={{filter}}{% endif %}">{{ 4 }}</a></li>{% endif %}
        {% elif page >= pages or page == pages|add:'-1' %}
            {% if pages > 4 %}<li><a href="?page={{ pages|add:'-3' }}{% if filter %}&filter={{filter}}{% endif %}">{{ pages|add:'-3' }}</a></li>{% endif %}
            {% if pages > 3 %}<li><a href="?page={{ pages|add:'-2' }}{% if filter %}&filter={{filter}}{% endif %}">{{ pages|add:'-2' }}</a></li>{% endif %}
            <li {% if page == pages|add:'-1' %}class="active"{% endif %}><a href="?page={{ pages|add:'-1' }}{% if filter %}&filter={{filter}}{% endif %}">{{ pages|add:'-1' }}</a></li>
        {% elif page > 2 and page|add:'1' < pages %}
            <li><a href="?page={{ page|add:'-1' }}{% if filter %}&filter={{filter}}{% endif %}">{{ page|add:'-1' }}</a></li>
            <li class="active"><a href="?page={{ pages }}{% if filter %}&filter={{filter}}{% endif %}">{{ page }}</a></li>
            <li><a href="?page={{ page|add:'1' }}{% if filter %}&filter={{filter}}{% endif %}">{{ page|add:'1' }}</a></li>
        {% endif %}
        
        
        {% if pages > 1 %}
        <li {% if page == pages %}class="active"{% endif %}><a href="?page={{ pages }}{% if filter %}&filter={{filter}}{% endif %}">{% if page|add:'2' >= pages %}{{ pages }}{% else %}...{% endif %}</a></li>
        {% endif %}
        
        
        
        
        <li {% if page >= pages %}class="disabled"{% endif %}><a href="?page={{ page|add:'1' }}{% if filter %}&filter={{filter}}{% endif %}">Next</a></li>
        </ul>
      </div>
    </center>
  </div>
</div>

