{% extends "layout_base.html" %}
{% load static %}
{% load textbook %}

{% block title %}World {{ world.shortname }}: {{ world.name }}{% endblock title %}

{% block body %}

    {% for s in stage_list %}
        <div class="row">
            <div class="span2">
                <p><a href="{% url stage world=world.shortname stage=s.stage.shortname %}">
                World {{ world.shortname }}-{{ s.stage.shortname }}
                </a>{% if s.complete %}<i class="icon-ok"></i>{% endif %}</p>
            </div>
            
            <div class="span10">
                <h3>{{ s.stage.name }}</h3>
            </div>
        </div>
    {% endfor %}

{% endblock body %}
