{% load static %}

    <script src="{% static 'js/chatroom.js' %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
  
  // Create the chat room and set the channel based on the open world.
  var channel = "{{ world.shortname }}";
  var chat =  new Chat();

    // set the refresh rate for the chat room.
     state = 0;
     instanse = false;
     chat.update();
     setInterval(function(){chat.update();}, 30000);

  $(function() {
  
     
     // watch textarea for key presses
     $("#inputspace").keydown(function(event) {  
     
         var key = event.which;  
   
         //all keys including return.  
         if (key >= 33) {
           
             var maxLength = $(this).attr("maxlength");  
             var length = this.value.length;  
             
             // don't allow new content if length is maxed out
             if (length >= maxLength) {  
                 event.preventDefault();  
             }  
         }  
    });
     // watch textarea for release of key press
     $('#inputspace').keyup(function(e) {  
                
        if (e.keyCode == 13) { 
        
              var text = $(this).val();
              var maxLength = $(this).attr("maxlength");  
              var length = text.length; 
               
              // send 
              if (length <= maxLength + 1) { 
                chat.send(text, name);  
                $(this).val("");
              } else {
                $(this).val(text.substring(0, maxLength));
              }  
        }
     });
  });

    </script>

