
<p>
Assembly Cheat Sheet! This will be linked to the wiki in the future.
</p>

<table class="table table-condensed">
<tbody>
  <tr>
    <td><code>ADC</code></td>
    <td>ADd with Carry</td>
    <td><code>AND</code></td>
    <td>bitwise AND with accumulator</td>
  </tr>
  <tr>
    <td><code>ASL</code></td>
    <td>Arithmetic Shift Left</td>
    <td><code>BCC</code></td>
    <td>Branch on Carry Clear</td>
  </tr>
  <tr>
    <td><code>BCS</code></td>
    <td>Branch on Carry Set</td>
    <td><code>BEQ</code></td>
    <td>Branch if EQual</td>
  </tr>
  <tr>
    <td><code>BIT</code></td>
    <td>Test BITs</td>
    <td><code>BMI</code></td>
    <td>Branch on MInus</td>
  </tr>
  <tr>
    <td><code>BNE</code></td>
    <td>Branch if Not Equal</td>
    <td><code>BPL</code></td>
    <td>Branch on PLus</td>
  </tr>
  <tr>
    <td><code>BRK</code></td>
    <td>BReaK (software interrupt)</td>
    <td><code>BVC</code></td>
    <td>Branch on oVerflow Clear</td>
  </tr>
  <tr>
    <td><code>BVS</code></td>
    <td>Branch on oVerflow Set</td>
    <td><code>CLC</code></td>
    <td>CLear Carry</td>
  </tr>
  <tr>
    <td><code>CLD</code></td>
    <td>CLear Decimal</td>
    <td><code>CLI</code></td>
    <td>CLear Interrupt</td>
  </tr>
  <tr>
    <td><code>CLV</code></td>
    <td>CLear oVerflow</td>
    <td><code>CMP</code></td>
    <td>CoMPare to accumulator</td>
  </tr>
  <tr>
    <td><code>CPX</code></td>
    <td>CoMpare to X</td>
    <td><code>CPY</code></td>
    <td>CoMpare to Y</td>
  </tr>
  <tr>
    <td><code>DEC</code></td>
    <td>DECrement memory</td>
    <td><code>DEX</code></td>
    <td>DEcrement X</td>
  </tr>
  <tr>
    <td><code>DEY</code></td>
    <td>DEcrement Y</td>
    <td><code>EOR</code></td>
    <td>Exclusive OR with accumulator</td>
  </tr>
  <tr>
    <td><code>INC</code></td>
    <td>INCrement memory</td>
    <td><code>INX</code></td>
    <td>INcrement X</td>
  </tr>
  <tr>
    <td><code>INY</code></td>
    <td>INcrement Y</td>
    <td><code>JMP</code></td>
    <td>JuMP</td>
  </tr>
  <tr>
    <td><code>JSR</code></td>
    <td>Jump to SubRoutine</td>
    <td><code>LDA</code></td>
    <td>LoaD Accumulator</td>
  </tr>
  <tr>
    <td><code>LDX</code></td>
    <td>LoaD X</td>
    <td><code>LDY</code></td>
    <td>LoaD Y</td>
  </tr>
  <tr>
    <td><code>LSR</code></td>
    <td>Logical Shift Right</td>
    <td><code>NOP</code></td>
    <td>NO oPeration</td>
  </tr>
  <tr>
    <td><code>ORA</code></td>
    <td>bitwise OR with Accumulator</td>
    <td><code>PHA</code></td>
    <td>PusH Accumulator</td>
  </tr>
  <tr>
    <td><code>PHP</code></td>
    <td>PusH Processor status</td>
    <td><code>PLA</code></td>
    <td>PuLl Accumulator</td>
  </tr>
  <tr>
    <td><code>PLP</code></td>
    <td>PuLl Processor status</td>
    <td><code>ROL</code></td>
    <td>ROtate Left</td>
  </tr>
  <tr>
    <td><code>ROR</code></td>
    <td>ROtate Right</td>
    <td><code>RTI</code></td>
    <td>ReTurn from Interrupt</td>
  </tr>
  <tr>
    <td><code>RTS</code></td>
    <td>ReTurn from Subroutine</td>
    <td><code>SBC</code></td>
    <td>SuBtract with Carry</td>
  </tr>
  <tr>
    <td><code>SEC</code></td>
    <td>SEt Carry</td>
    <td><code>SED</code></td>
    <td>SEt Decimal</td>
  </tr>
  <tr>
    <td><code>SEI</code></td>
    <td>SEt Interrupt</td>
    <td><code>STA</code></td>
    <td>STore Accumulator</td>
  </tr>
  <tr>
    <td><code>STX</code></td>
    <td>STore X</td>
    <td><code>STY</code></td>
    <td>STore Y</td>
  </tr>
  <tr>
    <td><code>TAX</code></td>
    <td>Transfer Accumulator to X</td>
    <td><code>TXA</code></td>
    <td>Transfer X to Accumulator</td>
  </tr>
  <tr>
    <td><code>TAY</code></td>
    <td>Transfer Accumulator to Y</td>
    <td><code>TSX</code></td>
    <td>Transfer Stack pointer to X</td>
  </tr>
  <tr>
    <td><code>TXS</code></td>
    <td>Transfer X to Stack pointer</td>
    <td><code>TYA</code></td>
    <td>Transfer Y to Accumulator</td>
  </tr>
  <tr>
    <td><code>.bank [index]=[start]</code></td>
    <td>change the bank that code is compiled to</td>
    <td><code>.org [address]</code></td>
    <td>change program counter</td>
  </tr>
  <tr>
    <td><code>.byte [byte]</code></td>
    <td>add a byte directly to the code</td>
    <td><code>.word [word]</code></td>
    <td>add a word (two bytes)</td>
  </tr>
  <tr>
    <td><code>.bytes [byte1],[byte2],...</code></td>
    <td>add a comma seperated list of bytes to the code</td>
    <td><code>.ascii "[string]"</code></td>
    <td>add a string of ascii characters to the code</td>
  </tr>
  <tr>
    <td><code>.db</code></td>
    <td>synonym for ".bytes"</td>
    <td><code>.dw</code></td>
    <td>synonym for ".word"</td>
  </tr>
    <tr>
    <td><code>.include "[kernal]"</code></td>
    <td>include a kernal</td>
    <td><code>.incbin "[pattern]"</code></td>
    <td>include a binary pattern (spritesheet)</td>
  </tr>
  <tr>
    <td><code>.define [label]=[value]</code></td>
    <td>define a constant</td>
    <td></td>
    <td></td>
  </tr>
</tbody>
</table>

