
<p>
Assembly Cheat Sheet! This will be linked to the wiki in the future.
</p>

<table class="table table-condensed">
<tbody>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='adc' %}">ADC</a></code></td>
    <td>ADd with Carry</td>
    <td><code><a href="{% url 'textbook_page' page='and' %}">AND</a></code></td>
    <td>bitwise AND with accumulator</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='asl' %}">ASL</a></code></td>
    <td>Arithmetic Shift Left</td>
    <td><code><a href="{% url 'textbook_page' page='bcc' %}">BCC</a></code></td>
    <td>Branch on Carry Clear</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='bcs' %}">BCS</a></code></td>
    <td>Branch on Carry Set</td>
    <td><code><a href="{% url 'textbook_page' page='beq' %}">BEQ</a></code></td>
    <td>Branch if EQual</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='bit' %}">BIT</a></code></td>
    <td>Test BITs</td>
    <td><code><a href="{% url 'textbook_page' page='bmi' %}">BMI</a></code></td>
    <td>Branch on MInus</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='bne' %}">BNE</a></code></td>
    <td>Branch if Not Equal</td>
    <td><code><a href="{% url 'textbook_page' page='bpl' %}">BPL</a></code></td>
    <td>Branch on PLus</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='brk' %}">BRK</a></code></td>
    <td>BReaK (software interrupt)</td>
    <td><code><a href="{% url 'textbook_page' page='bvc' %}">BVC</a></code></td>
    <td>Branch on oVerflow Clear</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='bvs' %}">BVS</a></code></td>
    <td>Branch on oVerflow Set</td>
    <td><code><a href="{% url 'textbook_page' page='clc' %}">CLC</a></code></td>
    <td>CLear Carry</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='cld' %}">CLD</a></code></td>
    <td>CLear Decimal</td>
    <td><code><a href="{% url 'textbook_page' page='cli' %}">CLI</a></code></td>
    <td>CLear Interrupt</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='clv' %}">CLV</a></code></td>
    <td>CLear oVerflow</td>
    <td><code><a href="{% url 'textbook_page' page='cmp' %}">CMP</a></code></td>
    <td>CoMPare to accumulator</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='cpx' %}">CPX</a></code></td>
    <td>CoMpare to X</td>
    <td><code><a href="{% url 'textbook_page' page='cpy' %}">CPY</a></code></td>
    <td>CoMpare to Y</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='dec' %}">DEC</a></code></td>
    <td>DECrement memory</td>
    <td><code><a href="{% url 'textbook_page' page='dex' %}">DEX</a></code></td>
    <td>DEcrement X</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='dey' %}">DEY</a></code></td>
    <td>DEcrement Y</td>
    <td><code><a href="{% url 'textbook_page' page='eor' %}">EOR</a></code></td>
    <td>Exclusive OR with accumulator</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='inc' %}">INC</a></code></td>
    <td>INCrement memory</td>
    <td><code><a href="{% url 'textbook_page' page='inx' %}">INX</a></code></td>
    <td>INcrement X</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='iny' %}">INY</a></code></td>
    <td>INcrement Y</td>
    <td><code><a href="{% url 'textbook_page' page='jmp' %}">JMP</a></code></td>
    <td>JuMP</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='jsr' %}">JSR</a></code></td>
    <td>Jump to SubRoutine</td>
    <td><code><a href="{% url 'textbook_page' page='lda' %}">LDA</a></code></td>
    <td>LoaD Accumulator</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='ldx' %}">LDX</a></code></td>
    <td>LoaD X</td>
    <td><code><a href="{% url 'textbook_page' page='ldy' %}">LDY</a></code></td>
    <td>LoaD Y</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='lsr' %}">LSR</a></code></td>
    <td>Logical Shift Right</td>
    <td><code><a href="{% url 'textbook_page' page='nop' %}">NOP</a></code></td>
    <td>NO oPeration</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='ora' %}">ORA</a></code></td>
    <td>bitwise OR with Accumulator</td>
    <td><code><a href="{% url 'textbook_page' page='pha' %}">PHA</a></code></td>
    <td>PusH Accumulator</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='php' %}">PHP</a></code></td>
    <td>PusH Processor status</td>
    <td><code><a href="{% url 'textbook_page' page='pla' %}">PLA</a></code></td>
    <td>PuLl Accumulator</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='plp' %}">PLP</a></code></td>
    <td>PuLl Processor status</td>
    <td><code><a href="{% url 'textbook_page' page='rol' %}">ROL</a></code></td>
    <td>ROtate Left</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='ror' %}">ROR</a></code></td>
    <td>ROtate Right</td>
    <td><code><a href="{% url 'textbook_page' page='rti' %}">RTI</a></code></td>
    <td>ReTurn from Interrupt</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='rts' %}">RTS</a></code></td>
    <td>ReTurn from Subroutine</td>
    <td><code><a href="{% url 'textbook_page' page='sbc' %}">SBC</a></code></td>
    <td>SuBtract with Carry</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='sec' %}">SEC</a></code></td>
    <td>SEt Carry</td>
    <td><code><a href="{% url 'textbook_page' page='sed' %}">SED</a></code></td>
    <td>SEt Decimal</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='sei' %}">SEI</a></code></td>
    <td>SEt Interrupt</td>
    <td><code><a href="{% url 'textbook_page' page='sta' %}">STA</a></code></td>
    <td>STore Accumulator</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='stx' %}">STX</a></code></td>
    <td>STore X</td>
    <td><code><a href="{% url 'textbook_page' page='sty' %}">STY</a></code></td>
    <td>STore Y</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='tax' %}">TAX</a></code></td>
    <td>Transfer Accumulator to X</td>
    <td><code><a href="{% url 'textbook_page' page='tay' %}">TAY</a></code></td>
    <td>Transfer Accumulator to Y</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='tsx' %}">TSX</a></code></td>
    <td>Transfer Stack pointer to X</td>
    <td><code><a href="{% url 'textbook_page' page='txa' %}">TXA</a></code></td>
    <td>Transfer X to Accumulator</td>
  </tr>
  <tr>
    <td><code><a href="{% url 'textbook_page' page='txs' %}">TXS</a></code></td>
    <td>Transfer X to Stack pointer</td>
    <td><code><a href="{% url 'textbook_page' page='tya' %}">TYA</a></code></td>
    <td>Transfer Y to Accumulator</td>
  </tr>
</tbody>
</table>

<table class="table table-condensed">
<tbody>
  <tr>
    <td><code>.bank [index]=[start]</code></td>
    <td>change the bank that code is compiled to</td>
    <td><code>.org [address]</code></td>
    <td>change program counter</td>
  </tr>
  <tr>
    <td><code>.byte [byte]</code></td>
    <td>add a byte directly to the code</td>
    <td><code>.word [word]</code></td>
    <td>add a word (two bytes)</td>
  </tr>
  <tr>
    <td><code>.bytes [byte1],[byte2],...</code></td>
    <td>add a comma seperated list of bytes to the code</td>
    <td><code>.ascii "[string]"</code></td>
    <td>add a string of ascii characters to the code</td>
  </tr>
  <tr>
    <td><code>.db</code></td>
    <td>synonym for ".bytes"</td>
    <td><code>.dw</code></td>
    <td>synonym for ".word"</td>
  </tr>
    <tr>
    <td><code>.include "[kernal]"</code></td>
    <td>include a kernal</td>
    <td><code>.incbin "[pattern]"</code></td>
    <td>include a binary pattern (spritesheet)</td>
  </tr>
  <tr>
    <td><code>.define [label]=[value]</code></td>
    <td>define a constant</td>
    <td></td>
    <td></td>
  </tr>
</tbody>
</table>

