{% extends "layout_base.html" %}
{% load static %}
{% load textbook %}

{% block title %}Badge{% endblock title %}

{% block body %}

    <div class="row">
        <div class="span2">
            <p><img src="{% get_static_prefix %}img/{{badge.graphic}}.png" /></p>
            
            {% if user.is_authenticated %}
            
                {% if awarded %}
                    <script src="http://beta.openbadges.org/issuer.js"></script>
                    <script type="text/javascript">
                    function getBadge()
                    {
                        OpenBadges.issue(["{{ domain }}{% url badge_assert user=user.username badge=badge.shortname %}"], function(errors, successes) {});
                    }
                    </script>
                    
                    <p><a class="btn" href="#" onclick="getBadge()">Add to Backpack</a></p>
                {% else %}
                    When you get this badge, you can add it to your backpack!
                {% endif %}
                
            {% endif %}
        </div>
        
        <div class="span10">
            <h1>{{ badge.name }}</h1>
            
            <article class="article">

                {{ badge.description|wikitext }}

            </article>
        </div>
    </div>

{% endblock body %}
