{% extends "layout_base.html" %}
{% load static %}
{% load creole %}

{% block title %}World Select{% endblock title %}

{% block body %}

    <div class="row">
      <div class="span12">
        <div class="well">
            <ul class="thumbnails">
            
            {% for w in worlds %}
                <li class="span2">
                <div class="thumbnail">
                <a href="{% url 'world_map' world=w.shortname %}" class="thumbnail">
                <img src="{% get_static_prefix %}img/{{w.graphic}}.png" alt="">
                </a>
                <h4>{{ w.name }}</h4>
                <p>Completion status</p>
                </div>
                </li>
            {% endfor %}
                
            </ul>
        </div>
      </div>  
    </div>
    
    <div class="row">
      <div class="span12">
        Announcements go here (set up an anno model.)
      </div>
    </div>
    
    

{% endblock body %}


