{% extends "layout_base.html" %}
{% load creole %}

{% block title %}Lesson {{ world.shortname }}-{{ stage.shortname }}{% endblock title %}

{% block body %}

    <div class="row">
        <div class="span8">
            <ul class="nav nav-tabs">
            <li class="active"><a href="#">Lesson</a></li>
            {% if stage.challenge %}
            <li><a href="{% url 'challenge' world=world.shortname stage=stage.shortname %}">Challenge</a></li>
            {% endif %}
            </ul>
        
            <article class="article">

                {{ stage.lesson.content|creole }}

            </article>
        </div>
        <div class="span4">
            {% include "chatroom.html" %}
        </div>
    </div>

{% endblock body %}

{% block scripts %}
    {% include 'chatroom_footer.html' %}
{% endblock scripts %}

