{% extends "layout_base.html" %}
{% load static %}
{% load creole %}

{% block title %}World Select{% endblock title %}

{% block body %}

    <div class="row">
      <div class="span12">
      
          <div id="worldCarousel" class="carousel slide">
    <ol class="carousel-indicators">
    <li data-target="#worldCarousel" data-slide-to="0" class="active"></li>
    {% for w in worldnums %}
    <li data-target="#worldCarousel" data-slide-to="{{w}}"></li>
    {% endfor %}
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
    <div class="active item">
        <img src="{% get_static_prefix %}img/8bitmooc_logo.png" alt="">
        <div class="carousel-caption">
        <h4>World Select</h4>
        <p>Use the arrows to move back and forth between worlds.</p>
        </div>
    </div>
    {% for w in worlds %}
    <div class="item">
        <a href="{% url 'world_map' world=w.shortname %}">
        <img src="{% get_static_prefix %}img/{{ w.graphic }}.png" alt="">
        </a>
        <div class="carousel-caption">
        <h4>{{ w.name }}</h4>
        <p>World {{ w.shortname }}</p>
        </div>
    </div>
    {% endfor %}
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#worldCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#worldCarousel" data-slide="next">&rsaquo;</a>
    </div>
    
      </div>
    </div>
      
    
    <div class="row">
      <div class="span12">
        Announcements go here (set up an anno model.)
      </div>
    </div>
    
    

{% endblock body %}


