{% extends "layout_base.html" %}
{% load static %}
{% load creole %}
{% load gravatar %}

{% block title %}World {{ world.shortname }}: {{ world.name }}{% endblock title %}

{% block body %}

    <div class="row">
      <div class="span9">
        <div class="well">
          <ul class="thumbnails">
            {% for stage, available, complete, student_count, students in stage_list %}
                <li class="span2">
                <div class="thumbnail">
                
                {% if available %}
                <a href="{% url 'stage' world=world.shortname stage=stage.shortname %}" class="thumbnail">
                <img src="{% get_static_prefix %}img/{{stage.graphic}}.png" alt="">
                </a>
                <h4>World {{ world.shortname }}-{{ stage.shortname }}</h4>
                <p>{{ stage.name }} {% if complete %}<i class="icon-ok"></i>{% endif %}</p>
                
                
                {% else %}
                
                <a href="#" class="thumbnail">
                <img src="{% get_static_prefix %}img/{{stage.graphic}}.png" alt="">
                </a>
                <p>Complete 
                {% for p in stage.prereqs1.all %}
                    <strong>World {{p.world.shortname}}-{{p.shortname}}</strong>,
                {% endfor %}
                {% for p in stage.prereqs2.all %}
                    <em><strong>{{p.name}}</strong></em>,
                {% endfor %}
                to unlock this stage.
                </p>
                {% endif %}
                
                <div>
                {% if complete %}
                SOS Button
                {% else %}
                <i class="icon-user"></i> {{student_count}}
                {% for s in students %}
                    <img class="gravatar" alt="" title="{{s.username}}" src="{% gravatar_for_email s.email 20 %}" />
                {% endfor %}
                {% endif %}
                </div>
                
                </div>
                
                </li>
            {% endfor %}
          </ul>
        </div>
      </div>
        
        <div class="span3">
            {% include "chatroom.html" %}
        </div>
        
    </div>
    <div class="row">
      <div class="span12">
                {{ world.description|creole }}
      </div>
    </div>
    
    

{% endblock body %}


{% block scripts %}
    {% include 'chatroom_footer.html' %}
{% endblock scripts %}

