{% extends "layout_base.html" %}
{% load creole %}

{% block title %}Challenge {{ world.shortname }}-{{ stage.shortname }}{% endblock title %}

{% block body %}

    <div class="row">
        <div class="span8">
            <ul class="nav nav-tabs">
            {% if stage.lesson %}
            <li><a href="{% url 'lesson' world=world.shortname stage=stage.shortname %}">Lesson</a></li>
            {% endif %}
            <li class="active"><a href="#">Challenge</a></li>
            </ul>
        
        
            <form name="input" action="{% url 'challenge' world=world.shortname stage=stage.shortname %}" method="post">{% csrf_token %}
            <input type="hidden" name="quizID" value="{{ quizID }}">
            <div>

                {{ stage.challenge.content|creole }}

            </div>
        
            {% for text, number, multi, choices in questions %}
                <hr />
                    {{ text|creole }}
                    
                    {% for l, c in choices %}
                    <div class="row">
                        <div class="span1">
                            {% if multi %}
                                <input type="checkbox" name="q{{ number }}" value="{{ l }}" />
                            {% else %}
                                <input type="radio" name="q{{ number }}" value="{{ l }}" />
                            {% endif %}
                        </div>
                        <div class="span7">
                            {{ c|creole }}
                        </div>
                    </div>
                    {% endfor %}
            {% endfor %}
            <br />
            <input type="submit" value="Submit Answers" />
            </form>
        </div>
        <div class="span4">
            <div class="hero-unit">
                <p>answers goes here</p>
            </div>
        </div>
    </div>

{% endblock body %}
