{% extends "layout_base.html" %}
{% load creole %}

{% block title %}Lesson {{ world.shortname }}-{{ stage.shortname }}{% endblock title %}

{% block body %}

    <div class="row">
        <div class="span8">
            <article class="article">

                {{ stage.lesson.content|creole }}

            </article>
        </div>
        <div class="span4">
            {% include "chatroom.html" %}
        </div>
    </div>

{% endblock body %}

{% block scripts %}
    {% include 'chatroom_footer.html' %}
{% endblock scripts %}

